fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
python-multipart
python-dotenv
pydantic-settings
pymupdf
python-docx
sentence-transformers
streamlit
requests
alembic
python-jose[cryptography]
passlib[bcrypt]
email-validator
